<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Tablet-specific features -->
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />
    <uses-feature
        android:name="android.software.freeform_window_management"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContinuumTablet"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ContinuumTablet"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TTS Service for 5-Foot Mode -->
        <service
            android:name=".service.TtsService"
            android:exported="false" />

    </application>

</manifest>
